* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Bahnschrift';
}
.usersbox{
    position: fixed;
    width: 300px;
    height: 100%;
    text-align: center;
    color:black;
    background-color: #0E0E52;
}

.linksmessage{
    text-decoration: none;
    color:black;
}

.messagetitle{
    color:white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.insertmessagebox{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    margin-left: 300px;
    background-color: darkblue;
}

#userbox{
    color: black;
    font-family: "Helvetica";
    font-size: 10pt;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #0E0E52;
    width: 300px;
    height: 40px;	 
    cursor: hand;
    padding:5px;
    margin-top: 10px;	
}
.displaymessage{
    margin-left:200px;
    height:auto;
    width:500px;
    background-color: red;
    position:absolute;
    background-size: cover;
}

#homebutton {
    background-image: url(../BD243224428/home.png);
    left:10px;
    top:10px;
    background-size: 20px;
    height: 30px;
    background-color: #0E0E52;
    border:none;
    width: 30px;
    position:absolute;
    background-repeat: no-repeat;
}

